ion-content
{
    --background:black;
    .go-to-login
    {
        color: white;
    }

    .error-message
    {
        color: white;
    }

    .error-messages
    {
        color: white;
    }
    .validation-errors
    {
        color: black;
    }

    .error-message
    {
        color: white;
    }
    
}

