<ion-header>
  <ion-toolbar color = "dark">
    <ion-title color="light">Find Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "dark">
  <ion-searchbar
  [(ngModel)]="searchTerm"
  (ionChange)="setFilteredItems()"
  #mySearchbar
></ion-searchbar>
  
    <ion-item color="dark" *ngFor="let orang of user">
      <ion-avatar>
        <ion-img src="{{orang.imageUrl}}"></ion-img>
      </ion-avatar>
      <ion-label> {{orang.nDepan}} - {{orang.email}} </ion-label>
      <ion-button color="danger" (click)="addFriend(orang)"><ion-icon name="add"></ion-icon></ion-button>
    </ion-item>
    <ion-item *ngIf="userAll == null">
      <ion-label>No More Friends to add</ion-label>
    </ion-item>

</ion-content>
