<ion-header>
  <ion-toolbar color = "dark">
    <ion-title color = "light">Friend List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
  [(ngModel)]="searchTerm"
  (ionChange)="setFilteredItems()"
  #mySearchbar
></ion-searchbar>
    <ion-item  color ="dark"*ngFor="let orang of user2">
      <ion-avatar>
        <ion-img src="{{orang.imageUrl}}"></ion-img>
      </ion-avatar>
      <ion-label color = "light">{{orang.nDepan}} - {{orang.nBelakang}}</ion-label>
      <ion-buttons>
          <ion-button (click)="presentAlert(orang)"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
</ion-content>